*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar {
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
